body{
    background-image: linear-gradient(
      115deg,
      rgb(71, 162, 207, 0.85),
      rgba(233, 109, 0, 0.85)
    ),
    url(https://cdn.pixabay.com/photo/2017/08/15/08/23/stars-2643089_960_720.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,.55) !important;
}


.nav-link{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-description{
  background-color: #763626;
  color: white;
  border: none;
}

.btn-description:hover{
  background-color: #763626;
  color: #90AFC5;
  border: none;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 15px;
}

.card-character{
  max-width: 500px;
  background-color: #fff;
  border: 1px solid #763626;
  border-radius: 0.25rem;
}

.card-character:hover{
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}

.card-character-head{
  margin-bottom: 1rem;
}

.card-character-head h3{
  color: #763626;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1.2rem 0;
}

